<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Шаблон</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/engine/view/style.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <header>
            <div class="logo">@</div>
            <div class="slider"></div>
            <nav><div class="menu">
                <ul>
                    <li><a href="/" class="menu-link">Главная</a></li>
                    <li><a href="/category/" class="menu-link">Категории</a></li>
                    <li>Об авторе</li>
                </ul>
            </div></nav>
        </header>
    </div>
    <div class="main">
        <main>
            <article>
                <h1>Заголовок</h1>
                <p>Первый абзац текст текст текст текст текст текст текст текст текст</p>
                <p>Второй абзац текст текст текст текст текст текст текст текст текст</p>
            </article>
        </main>
    </div>
    <div class="footer">
        <footer>
            <div class="copyright">Футер 2020</div>
        </footer>
    </div>
</div>
</body>
</html>